build/
devel/
Modules/fast_lio2/src/FAST_LIO/PCD/*.pcd
Modules/ego_planner_swarm/src/uav_simulator/lidar_map_generator/resource
Scripts/flight_data/
GEMINI.md
# CLAUDE.md
.catkin_tools
.vscode

__pycache__
_ext
*.pyc
*.so
nano.save
.catkin_workspace