<launch>

  <arg name="uav_id" default="1"/>
  <arg name="rviz" default="true" />

  <node pkg="fast_lio" type="fastlio_mapping" name="laserMapping" output="screen" required="true" launch-prefix="gdb -ex run --args">
	<param name="imu_topic" type="string" value="/livox/imu" />
	<param name="map_file_path" type="string" value=" " />
	<param name="max_iteration" type="int" value="4" />
	<param name="dense_map_enable" type="bool" value="1" />
	<param name="fov_degree" type="double" value="75" />
	<param name="filter_size_corner" type="double" value="0.2" />
	<param name="filter_size_surf" type="double" value="0.2" />
	<param name="filter_size_map" type="double" value="0.5" />
	<param name="runtime_pos_log_enable" type="bool" value="1" />
	<param name="cube_side_length" type="double" value="2000" />
  </node>

  <remap from="/drone_cloud_registered" to="/uav$(arg uav_id)/drone_cloud_registered"/>
  <remap from="/drone_cloud_registered_body" to="/uav$(arg uav_id)/drone_cloud_registered_body"/>
  <remap from="/drone_cloud_effected" to="/uav$(arg uav_id)/drone_cloud_effected"/>
  <remap from="/drone_Laser_map" to="/uav$(arg uav_id)/drone_Laser_map"/>
  <remap from="/drone_Odometry" to="/uav$(arg uav_id)/drone_Odometry"/>
  <remap from="/drone_Odom_high_freq" to="/uav$(arg uav_id)/drone_Odom_high_freq"/>
  <remap from="/drone_path" to="/uav$(arg uav_id)/drone_path"/>

  <!-- <group if="$(arg rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find fast_lio)/rviz_cfg/loam_livox.rviz" />
  </group> -->

</launch>
