<launch>
<!-- Launch file for ouster OS2-64 LiDAR -->
    <arg name="uav_id" default="1"/>
    <rosparam command="load" file="$(find fast_lio)/config/ouster128.yaml" />

    <param name="feature_extract_enable" type="bool" value="0"/>
    <param name="point_filter_num" type="int" value="2"/>
    <param name="ring_filter_num" type="int" value="4"/>
    <param name="max_iteration" type="int" value="3" />
    <param name="filter_size_surf" type="double" value="0.5" />
    <param name="filter_size_map" type="double" value="0.5" />
    <param name="cube_side_length" type="double" value="10" />
    <param name="runtime_pos_log_enable" type="bool" value="0" />

    <remap from="/drone_cloud_registered" to="/uav$(arg uav_id)/drone_cloud_registered"/>
    <remap from="/drone_cloud_registered_body" to="/uav$(arg uav_id)/drone_cloud_registered_body"/>
    <remap from="/drone_cloud_effected" to="/uav$(arg uav_id)/drone_cloud_effected"/>
    <remap from="/drone_Laser_map" to="/uav$(arg uav_id)/drone_Laser_map"/>
    <remap from="/drone_Odometry" to="/uav$(arg uav_id)/drone_Odometry"/>
    <remap from="/drone_Odom_high_freq" to="/uav$(arg uav_id)/drone_Odom_high_freq"/>
    <remap from="/drone_path" to="/uav$(arg uav_id)/drone_path"/>

    <node pkg="fast_lio" type="fastlio_mapping" name="drone_laserMapping" output="screen" />

    <arg name="rviz" default="true" />
    <group if="$(arg rviz)">
        <node launch-prefix="nice" pkg="rviz" type="rviz" name="drone_rviz_fastlio" args="-d $(find fast_lio)/rviz_cfg/loam_livox.rviz" />
    </group>

</launch>
