<launch>
  <arg name="use_gpu_" value="false"/>

  <!-- size of map, change the size inflate x, y, z according to your application -->
  <arg name="map_size_x" value="100.0"/>
  <arg name="map_size_y" value="100.0"/>
  <arg name="map_size_z" value="10.0"/>

  <arg name="uav_num" value="10"/>

  <arg name="init_x" value="0.0"/>
  <arg name="init_z" value="0.1"/>

  <arg name="frame_id" value="world"/>
  <arg name="global_cloud_topic" value="/map_generator/global_cloud"/>
  <!-- topic of your odometry such as VIO or LIO -->
  <arg name="odom_topic" value="lidar_slam/odom"/>

  <!-- number of moving objects -->
  <arg name="obj_num" value="10" />

  <!-- map -->
  <arg name="map_name" value="$(env HOME)/bagfiles/resource/plot2/Largeforest-2_38_32.pcd"/> <!-- use your pcd file -->
  <arg name="downsample_resolution" value="0.1"/>
  <arg name="use_uav_extra_model" value = "0"/>
  
  <group if="$(arg use_gpu_)">
      <node pkg="lidar_map_generator" name="map_pub1" type="map_pub" output="screen"
              args="$(arg map_name)">
              <param name="downsample_res" value="0.1"/>         
              <param name="map_offset_x" value="10.0"/>   
              <param name="map_offset_y" value="-8.0"/>   
              <param name="map_offset_z" value="-3.0"/>
      </node>  
  </group>
  <group unless="$(arg use_gpu_)">
      <node pkg="lidar_map_generator" name="map_pub2" type="map_pub" output="screen"
              args="$(arg map_name)">
              <param name="downsample_res" value="$(arg downsample_resolution)"/>
              <param name="map_offset_x" value="10.0"/>   
              <param name="map_offset_y" value="-8.0"/>   
              <param name="map_offset_z" value="-3.0"/>   
      </node>  
  </group>

  <!-- UAV 1 -->
  <include file="$(find ego_planner)/launch_new/single_uav_lio.xml">
    <arg name="uav_id" value="1"/>
    <arg name="uav_num_" value="$(arg uav_num)"/>
    <arg name="lidar_type" value="mid360"/>
    <arg name="init_x" value="$(arg init_x)"/>
    <arg name="init_y" value="0.0"/>
    <arg name="init_z" value="$(arg init_z)"/>
    <arg name="map_size_x" value="$(arg map_size_x)"/>
    <arg name="map_size_y" value="$(arg map_size_y)"/>
    <arg name="map_size_z" value="$(arg map_size_z)"/>
    <arg name="map_name" value="$(arg map_name)"/>
    <arg name="odom_topic" value="$(arg odom_topic)"/>
    <arg name="obj_num" value="$(arg obj_num)"/>
    <arg name="use_gpu" value="$(arg use_gpu_)"/>
    <arg name="downsample_resolution_" value="$(arg downsample_resolution)"/>
    <arg name="use_uav_extra_model_" value="$(arg use_uav_extra_model)"/>
    <arg name="box_min_x" value="0.0"/>
    <arg name="box_min_y" value="0.0"/>
    <arg name="box_min_z" value="2.0"/>
    <arg name="box_max_x" value="20.0"/>
    <arg name="box_max_y" value="0.0"/>
    <arg name="box_max_z" value="3.0"/>
    <arg name="step_X" value="3.0"/>
    <arg name="step_Y" value="3.0"/>
    <arg name="step_Z" value="2.0"/>
    <arg name="waypointDistriFlag" value="0"/>
    <arg name="flight_type" value="3" />
  </include>

  <!-- UAV 2 -->
  <include file="$(find ego_planner)/launch_new/single_uav_lio.xml">
    <arg name="uav_id" value="2"/>
    <arg name="uav_num_" value="$(arg uav_num)"/>
    <arg name="lidar_type" value="mid360"/>
    <arg name="init_x" value="$(arg init_x)"/>
    <arg name="init_y" value="2.0"/>
    <arg name="init_z" value="$(arg init_z)"/>
    <arg name="map_size_x" value="$(arg map_size_x)"/>
    <arg name="map_size_y" value="$(arg map_size_y)"/>
    <arg name="map_size_z" value="$(arg map_size_z)"/>
    <arg name="map_name" value="$(arg map_name)"/>
    <arg name="odom_topic" value="$(arg odom_topic)"/>
    <arg name="obj_num" value="$(arg obj_num)"/>
    <arg name="use_gpu" value="$(arg use_gpu_)"/>
    <arg name="downsample_resolution_" value="$(arg downsample_resolution)"/>
    <arg name="use_uav_extra_model_" value="$(arg use_uav_extra_model)"/>
    <arg name="box_min_x" value="0.0"/>
    <arg name="box_min_y" value="2.0"/>
    <arg name="box_min_z" value="2.0"/>
    <arg name="box_max_x" value="20.0"/>
    <arg name="box_max_y" value="2.0"/>
    <arg name="box_max_z" value="3.0"/>
    <arg name="step_X" value="3.0"/>
    <arg name="step_Y" value="3.0"/>
    <arg name="step_Z" value="2.0"/>
    <arg name="waypointDistriFlag" value="0"/>
    <arg name="flight_type" value="3" />
  </include>

  <!-- UAV 3 -->
  <include file="$(find ego_planner)/launch_new/single_uav_lio.xml">
    <arg name="uav_id" value="3"/>
    <arg name="uav_num_" value="$(arg uav_num)"/>
    <arg name="lidar_type" value="mid360"/>
    <arg name="init_x" value="$(arg init_x)"/>
    <arg name="init_y" value="4.0"/>
    <arg name="init_z" value="$(arg init_z)"/>
    <arg name="map_size_x" value="$(arg map_size_x)"/>
    <arg name="map_size_y" value="$(arg map_size_y)"/>
    <arg name="map_size_z" value="$(arg map_size_z)"/>
    <arg name="map_name" value="$(arg map_name)"/>
    <arg name="odom_topic" value="$(arg odom_topic)"/>
    <arg name="obj_num" value="$(arg obj_num)"/>
    <arg name="use_gpu" value="$(arg use_gpu_)"/>
    <arg name="downsample_resolution_" value="$(arg downsample_resolution)"/>
    <arg name="use_uav_extra_model_" value="$(arg use_uav_extra_model)"/>
    <arg name="box_min_x" value="0.0"/>
    <arg name="box_min_y" value="4.0"/>
    <arg name="box_min_z" value="2.0"/>
    <arg name="box_max_x" value="20.0"/>
    <arg name="box_max_y" value="4.0"/>
    <arg name="box_max_z" value="3.0"/>
    <arg name="step_X" value="3.0"/>
    <arg name="step_Y" value="3.0"/>
    <arg name="step_Z" value="2.0"/>
    <arg name="waypointDistriFlag" value="0"/>
    <arg name="flight_type" value="3" />
  </include>

  <!-- UAV 4 -->
  <include file="$(find ego_planner)/launch_new/single_uav_lio.xml">
    <arg name="uav_id" value="4"/>
    <arg name="uav_num_" value="$(arg uav_num)"/>
    <arg name="lidar_type" value="mid360"/>
    <arg name="init_x" value="$(arg init_x)"/>
    <arg name="init_y" value="6.0"/>
    <arg name="init_z" value="$(arg init_z)"/>
    <arg name="map_size_x" value="$(arg map_size_x)"/>
    <arg name="map_size_y" value="$(arg map_size_y)"/>
    <arg name="map_size_z" value="$(arg map_size_z)"/>
    <arg name="map_name" value="$(arg map_name)"/>
    <arg name="odom_topic" value="$(arg odom_topic)"/>
    <arg name="obj_num" value="$(arg obj_num)"/>
    <arg name="use_gpu" value="$(arg use_gpu_)"/>
    <arg name="downsample_resolution_" value="$(arg downsample_resolution)"/>
    <arg name="use_uav_extra_model_" value="$(arg use_uav_extra_model)"/>
    <arg name="box_min_x" value="0.0"/>
    <arg name="box_min_y" value="6.0"/>
    <arg name="box_min_z" value="2.0"/>
    <arg name="box_max_x" value="20.0"/>
    <arg name="box_max_y" value="6.0"/>
    <arg name="box_max_z" value="3.0"/>
    <arg name="step_X" value="3.0"/>
    <arg name="step_Y" value="3.0"/>
    <arg name="step_Z" value="2.0"/>
    <arg name="waypointDistriFlag" value="0"/>
    <arg name="flight_type" value="3" />
  </include>

  <!-- UAV 5 -->
  <include file="$(find ego_planner)/launch_new/single_uav_lio.xml">
    <arg name="uav_id" value="5"/>
    <arg name="uav_num_" value="$(arg uav_num)"/>
    <arg name="lidar_type" value="mid360"/>
    <arg name="init_x" value="$(arg init_x)"/>
    <arg name="init_y" value="8.0"/>
    <arg name="init_z" value="$(arg init_z)"/>
    <arg name="map_size_x" value="$(arg map_size_x)"/>
    <arg name="map_size_y" value="$(arg map_size_y)"/>
    <arg name="map_size_z" value="$(arg map_size_z)"/>
    <arg name="map_name" value="$(arg map_name)"/>
    <arg name="odom_topic" value="$(arg odom_topic)"/>
    <arg name="obj_num" value="$(arg obj_num)"/>
    <arg name="use_gpu" value="$(arg use_gpu_)"/>
    <arg name="downsample_resolution_" value="$(arg downsample_resolution)"/>
    <arg name="use_uav_extra_model_" value="$(arg use_uav_extra_model)"/>
    <arg name="box_min_x" value="0.0"/>
    <arg name="box_min_y" value="8.0"/>
    <arg name="box_min_z" value="2.0"/>
    <arg name="box_max_x" value="20.0"/>
    <arg name="box_max_y" value="8.0"/>
    <arg name="box_max_z" value="3.0"/>
    <arg name="step_X" value="3.0"/>
    <arg name="step_Y" value="3.0"/>
    <arg name="step_Z" value="2.0"/>
    <arg name="waypointDistriFlag" value="0"/>
    <arg name="flight_type" value="3" />
  </include>

  <!-- UAV 6 -->
  <include file="$(find ego_planner)/launch_new/single_uav_lio.xml">
    <arg name="uav_id" value="6"/>
    <arg name="uav_num_" value="$(arg uav_num)"/>
    <arg name="lidar_type" value="mid360"/>
    <arg name="init_x" value="$(arg init_x)"/>
    <arg name="init_y" value="10.0"/>
    <arg name="init_z" value="$(arg init_z)"/>
    <arg name="map_size_x" value="$(arg map_size_x)"/>
    <arg name="map_size_y" value="$(arg map_size_y)"/>
    <arg name="map_size_z" value="$(arg map_size_z)"/>
    <arg name="map_name" value="$(arg map_name)"/>
    <arg name="odom_topic" value="$(arg odom_topic)"/>
    <arg name="obj_num" value="$(arg obj_num)"/>
    <arg name="use_gpu" value="$(arg use_gpu_)"/>
    <arg name="downsample_resolution_" value="$(arg downsample_resolution)"/>
    <arg name="use_uav_extra_model_" value="$(arg use_uav_extra_model)"/>
    <arg name="box_min_x" value="0.0"/>
    <arg name="box_min_y" value="10.0"/>
    <arg name="box_min_z" value="2.0"/>
    <arg name="box_max_x" value="20.0"/>
    <arg name="box_max_y" value="10.0"/>
    <arg name="box_max_z" value="3.0"/>
    <arg name="step_X" value="3.0"/>
    <arg name="step_Y" value="3.0"/>
    <arg name="step_Z" value="2.0"/>
    <arg name="waypointDistriFlag" value="0"/>
    <arg name="flight_type" value="3" />
  </include>

  <!-- UAV 7 -->
  <include file="$(find ego_planner)/launch_new/single_uav_lio.xml">
    <arg name="uav_id" value="7"/>
    <arg name="uav_num_" value="$(arg uav_num)"/>
    <arg name="lidar_type" value="mid360"/>
    <arg name="init_x" value="$(arg init_x)"/>
    <arg name="init_y" value="12.0"/>
    <arg name="init_z" value="$(arg init_z)"/>
    <arg name="map_size_x" value="$(arg map_size_x)"/>
    <arg name="map_size_y" value="$(arg map_size_y)"/>
    <arg name="map_size_z" value="$(arg map_size_z)"/>
    <arg name="map_name" value="$(arg map_name)"/>
    <arg name="odom_topic" value="$(arg odom_topic)"/>
    <arg name="obj_num" value="$(arg obj_num)"/>
    <arg name="use_gpu" value="$(arg use_gpu_)"/>
    <arg name="downsample_resolution_" value="$(arg downsample_resolution)"/>
    <arg name="use_uav_extra_model_" value="$(arg use_uav_extra_model)"/>
    <arg name="box_min_x" value="0.0"/>
    <arg name="box_min_y" value="12.0"/>
    <arg name="box_min_z" value="2.0"/>
    <arg name="box_max_x" value="20.0"/>
    <arg name="box_max_y" value="12.0"/>
    <arg name="box_max_z" value="3.0"/>
    <arg name="step_X" value="3.0"/>
    <arg name="step_Y" value="3.0"/>
    <arg name="step_Z" value="2.0"/>
    <arg name="waypointDistriFlag" value="0"/>
    <arg name="flight_type" value="3" />
  </include>

  <!-- UAV 8 -->
  <include file="$(find ego_planner)/launch_new/single_uav_lio.xml">
    <arg name="uav_id" value="8"/>
    <arg name="uav_num_" value="$(arg uav_num)"/>
    <arg name="lidar_type" value="mid360"/>
    <arg name="init_x" value="$(arg init_x)"/>
    <arg name="init_y" value="14.0"/>
    <arg name="init_z" value="$(arg init_z)"/>
    <arg name="map_size_x" value="$(arg map_size_x)"/>
    <arg name="map_size_y" value="$(arg map_size_y)"/>
    <arg name="map_size_z" value="$(arg map_size_z)"/>
    <arg name="map_name" value="$(arg map_name)"/>
    <arg name="odom_topic" value="$(arg odom_topic)"/>
    <arg name="obj_num" value="$(arg obj_num)"/>
    <arg name="use_gpu" value="$(arg use_gpu_)"/>
    <arg name="downsample_resolution_" value="$(arg downsample_resolution)"/>
    <arg name="use_uav_extra_model_" value="$(arg use_uav_extra_model)"/>
    <arg name="box_min_x" value="0.0"/>
    <arg name="box_min_y" value="14.0"/>
    <arg name="box_min_z" value="2.0"/>
    <arg name="box_max_x" value="20.0"/>
    <arg name="box_max_y" value="14.0"/>
    <arg name="box_max_z" value="3.0"/>
    <arg name="step_X" value="3.0"/>
    <arg name="step_Y" value="3.0"/>
    <arg name="step_Z" value="2.0"/>
    <arg name="waypointDistriFlag" value="0"/>
    <arg name="flight_type" value="3" />
  </include>

  <!-- UAV 9 -->
  <include file="$(find ego_planner)/launch_new/single_uav_lio.xml">
    <arg name="uav_id" value="9"/>
    <arg name="uav_num_" value="$(arg uav_num)"/>
    <arg name="lidar_type" value="mid360"/>
    <arg name="init_x" value="$(arg init_x)"/>
    <arg name="init_y" value="16.0"/>
    <arg name="init_z" value="$(arg init_z)"/>
    <arg name="map_size_x" value="$(arg map_size_x)"/>
    <arg name="map_size_y" value="$(arg map_size_y)"/>
    <arg name="map_size_z" value="$(arg map_size_z)"/>
    <arg name="map_name" value="$(arg map_name)"/>
    <arg name="odom_topic" value="$(arg odom_topic)"/>
    <arg name="obj_num" value="$(arg obj_num)"/>
    <arg name="use_gpu" value="$(arg use_gpu_)"/>
    <arg name="downsample_resolution_" value="$(arg downsample_resolution)"/>
    <arg name="use_uav_extra_model_" value="$(arg use_uav_extra_model)"/>
    <arg name="box_min_x" value="0.0"/>
    <arg name="box_min_y" value="16.0"/>
    <arg name="box_min_z" value="2.0"/>
    <arg name="box_max_x" value="20.0"/>
    <arg name="box_max_y" value="16.0"/>
    <arg name="box_max_z" value="3.0"/>
    <arg name="step_X" value="3.0"/>
    <arg name="step_Y" value="3.0"/>
    <arg name="step_Z" value="2.0"/>
    <arg name="waypointDistriFlag" value="0"/>
    <arg name="flight_type" value="3" />
  </include>

  <!-- UAV 10 -->
  <include file="$(find ego_planner)/launch_new/single_uav_lio.xml">
    <arg name="uav_id" value="10"/>
    <arg name="uav_num_" value="$(arg uav_num)"/>
    <arg name="lidar_type" value="mid360"/>
    <arg name="init_x" value="$(arg init_x)"/>
    <arg name="init_y" value="18.0"/>
    <arg name="init_z" value="$(arg init_z)"/>
    <arg name="map_size_x" value="$(arg map_size_x)"/>
    <arg name="map_size_y" value="$(arg map_size_y)"/>
    <arg name="map_size_z" value="$(arg map_size_z)"/>
    <arg name="map_name" value="$(arg map_name)"/>
    <arg name="odom_topic" value="$(arg odom_topic)"/>
    <arg name="obj_num" value="$(arg obj_num)"/>
    <arg name="use_gpu" value="$(arg use_gpu_)"/>
    <arg name="downsample_resolution_" value="$(arg downsample_resolution)"/>
    <arg name="use_uav_extra_model_" value="$(arg use_uav_extra_model)"/>
    <arg name="box_min_x" value="0.0"/>
    <arg name="box_min_y" value="18.0"/>
    <arg name="box_min_z" value="2.0"/>
    <arg name="box_max_x" value="20.0"/>
    <arg name="box_max_y" value="18.0"/>
    <arg name="box_max_z" value="3.0"/>
    <arg name="step_X" value="3.0"/>
    <arg name="step_Y" value="3.0"/>
    <arg name="step_Z" value="2.0"/>
    <arg name="waypointDistriFlag" value="0"/>
    <arg name="flight_type" value="3" />
  </include>

  <node name="rvizvisualisation" pkg="rviz" type="rviz" output="screen"
  args="-d $(find ego_planner)/launch/default.rviz" />

</launch>