<launch>
  <arg name="uav_id" default="1"/>
  <!-- size of map, change the size inflate x, y, z according to your application -->
  <arg name="map_size_x" value="200.0"/>
  <arg name="map_size_y" value="200.0"/>
  <arg name="map_size_z" value="10.0"/>

  <!-- number of moving objects -->
  <arg name="obj_num" value="10" />

  <!-- topic of your odometry such as VIO or LIO -->
  <arg name="odom_topic" value="mavros/local_position/odom" />
  <!-- <arg name="odom_topic" value="/drone_Odometry" /> -->

  <!-- main algorithm params -->
  <include file="$(find ego_planner)/launch_new/advanced_param_px4.xml">
    <arg name="uav_id" value="$(arg uav_id)"/>
    <arg name="map_size_x_" value="$(arg map_size_x)"/>
    <arg name="map_size_y_" value="$(arg map_size_y)"/>
    <arg name="map_size_z_" value="$(arg map_size_z)"/>
    <arg name="odometry_topic" value="$(arg odom_topic)"/>
    <arg name="obj_num_set" value="$(arg obj_num)" />

    <!-- 路径点生成参数 -->
    <arg name="box_min_x" value="0.0"/>
    <arg name="box_min_y" value="0.0"/>
    <arg name="box_min_z" value="2.0"/>
    <arg name="box_max_x" value="20.0"/>
    <arg name="box_max_y" value="16.0"/>
    <arg name="box_max_z" value="3.0"/>

    <arg name="step_X" value="5.0"/>
    <arg name="step_Y" value="5.0"/>
    <arg name="step_Z" value="2.0"/>

    <!-- waypointDistribution flag 0:水平遍历fly, 1表示垂直fly, 2表示螺旋式fly,针对单颗树木-->
    <arg name="waypointDistriFlag" value="0"/>

    <!-- 围绕单颗树螺旋式上升参数设置 -->
    <!-- // X,Y是单木的水平坐标，R是环绕飞行的半径，numSpiralSegments是一个水平圆周上分布几个点，stepZ_rotate是绕飞的垂直步长 -->
    <arg name="coordinate_X" value="1.5"/> 
    <arg name="coordinate_Y" value="1.5"/>
    <arg name="minZ_rotate" value="2.0"/> 
    <arg name="maxZ_rotate" value="10"/>    
    <arg name="radius_R" value="1.7"/>
    <arg name="numSpiralSegments" value="4"/>
    <arg name="stepZ_rotate" value="0.5"/>

    <!-- camera pose: transform of camera frame in the world frame -->
    <!-- depth topic: depth image, 640x480 by default -->
    <!-- don't set cloud_topic if you already set these ones! -->
    <arg name="camera_pose_topic" value="/nouse2"/>
    <arg name="depth_topic" value="/nouse1"/>

    <!-- topic of point cloud measurement, such as from LIDAR  -->
    <!-- don't set camera pose and depth, if you already set this one! -->
    <arg name="cloud_topic" value="drone_cloud_registered"/>

    <!-- intrinsic params of the depth camera -->
    <arg name="cx" value="321.68231201171875"/>
    <arg name="cy" value="237.12445068359375"/>
    <arg name="fx" value="383.48455810546875"/>
    <arg name="fy" value="383.48455810546875"/>

    <!-- maximum velocity and acceleration the drone will reach -->
    <arg name="max_vel" value="0.6" /> 
    <arg name="max_acc" value="0.5" />

    <!--always set to 1.5 times grater than sensing horizen-->
    <arg name="planning_horizon" value="3.5" /> 

    <arg name="use_distinctive_trajs" value="true" />

    <!-- 1: use 2D Nav Goal to select goal  -->
    <!-- 2: use global waypoints below  -->
    <!-- 3: use waypointDistriFlag to generate waypoints  -->
    <arg name="flight_type" value="3" />

  </include>

  <!-- trajectory server -->
  <node pkg="ego_planner" name="uav$(arg uav_id)_traj_server" type="traj_server" output="screen">
    <remap from="position_cmd" to="/uav$(arg uav_id)/planning/ego/traj_cmd"/>
    <remap from="~planning/bspline" to="/uav$(arg uav_id)/planning/bspline"/>
    <param name="traj_server/time_forward" value="1.0" type="double"/>
  </node>

  <node pkg="odom_visualization" name="odom_visualization" type="odom_visualization" output="screen">
        <remap from="~odom" to="$(arg odom_topic)"/>
        <param name="color/a" value="1.0"/>    
        <param name="color/r" value="1.0"/>        
        <param name="color/g" value="0.0"/>
        <param name="color/b" value="0.0"/>       
        <param name="covariance_scale" value="100.0"/>       
        <param name="robot_scale" value="1.0"/>
        <param name="tf45" value="true"/>
  </node>

  <!-- <include file="$(find rosmsg_tcp_bridge)/launch/bridge.launch">
    <arg name="uav_id" value="$(arg uav_id)"/>
    <arg name="next_drone_ip" value="$(arg next_drone_ip)"/>
    <arg name="broadcast_ip" value="$(arg broadcast_ip)"/>
  </include> -->

</launch>
